$pink: rgb(252, 221, 214);
$green-dark: rgb(38, 77, 68);
$green-font: rgb(63, 113, 99);
$green-soft: rgb(158, 210, 197);
$blue-dark: rgb(43, 83, 105);
$blue: rgb(100, 190, 250);
$gray-light: rgb(186, 186, 186);
$font-color: rgb(39, 49, 63);
$yellow-soft: rgb(251, 242, 190);
$yellow: rgb(246, 214, 72);